@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.card{
  margin: 50px;;
}
.listLeagues, .listTeams{
  width: max-content;
  margin: auto;
  text-align: center;
}
.pagination{
  width: max-content;
  margin: auto;
}
.leagueDetails,.teamDetails{
  width: max-content;
  margin: auto;
  text-align: center;
  font-style: italic;
  font-style: 24px;
}
.seriesName{
  text-align: center;
}
.details a{
  text-decoration: none;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 15px;
}
.details {
  justify-content:center;
}
.vainqueur{
  text-align: right;
}